:root {
  --color-darkslategrey-d340e9f2: rgba(42, 44, 46, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-black-1684a0: rgba(0, 0, 0, 0.87);
  --color-sandybrown-ccb70bdf: rgba(244, 206, 71, 1);
  --color-whitesmoke-28886173: rgba(246, 244, 240, 1);
  --color-991c5d52: transparent;
  --font-size-164: 164px;
  --font-size-92: 92px;
  --font-size-32: 32px;
  --font-size-12: 12px;
  --font-size-16: 16px;
  --font-size-24: 24px;
  --font-size-14: 14px;
  --font-size-20: 20px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-300: 300;
  --border-radius-20: 20px;
  --border-radius-36: 36px;
  --border-radius-16: 16px;
  --border-radius-12: 12px;
  --border-radius-31: 31px;
  --border-radius-47: 47px;
}
